In [2]:
import pandas as pd
import numpy as np

In [5]:
df_race = pd.read_csv("/media/gnort/HDD6/Study/face-analysis-lightning/dataset/face/image_lists/face_train.txt", sep=" ", header=None)
df_race

               0  1  2  3  4  5  6
0       9936.jpg  1  0  3  1  4  1
1       4458.jpg  1  0  3  1  3  1
2       2214.jpg  1  1  3  1  3  1
3        202.jpg  0  1  3  1  6  1
4      13680.jpg  0  1  3  1  4  1
...          ... .. .. .. .. .. ..
12243   1252.jpg  1  1  3  3  3  1
12244   2313.jpg  1  0  3  3  3  1
12245    664.jpg  1  0  4  1  3  1
12246  12040.jpg  0  0  1  3  4  1
12247   8755.jpg  1  0  3  1  3  1

[12248 rows x 7 columns]

In [6]:
df_race[1].value_counts()

1
1    6019
0    5655
2     574
Name: count, dtype: int64

In [6]:
df = pd.read_csv("/media/gnort/HDD6/Study/face-analysis-lightning/dataset/face/image_lists/face_train.txt", sep=" ", header=None)

In [17]:
indices_to_keep_1 = np.random.choice(df[df[1] == 1].index, 3000, replace=False)
indices_to_keep_0 = np.random.choice(df[df[1] == 0].index, 3000, replace=False)
indices_to_keep_2 = df[df[1] == 2].index

# Combine the selected indices for both values
indices_to_keep = np.concatenate([indices_to_keep_1, indices_to_keep_0, indices_to_keep_2])

# Keep only the selected indices and reset the index
df_filtered = df.loc[indices_to_keep].reset_index(drop=True)

In [18]:
df_filtered

              0  1  2  3  4  5  6
0      4228.jpg  1  0  3  1  3  1
1      4524.jpg  1  0  3  1  3  1
2      8295.jpg  1  0  3  3  3  1
3      6018.jpg  1  0  3  1  3  1
4       707.jpg  1  0  3  1  3  1
...         ... .. .. .. .. .. ..
6569    155.jpg  2  0  1  3  3  1
6570  12600.jpg  2  0  3  2  3  1
6571   4591.jpg  2  0  3  0  4  1
6572  12720.jpg  2  0  3  0  4  1
6573  12168.jpg  2  1  3  0  5  1

[6574 rows x 7 columns]

In [19]:
df_filtered[1].value_counts()

1
1    3000
0    3000
2     574
Name: count, dtype: int64